################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebAppBlog/.vs/WebAppBlog/v16
/WebAppBlog/obj/Debug/netcoreapp3.1
/WebAppBlog/obj
